body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeef;
}

.app {
  padding: 100px 0px;
}

.app_name {
  text-align: center;
  color: black;
  font-size: 50px;
  font-weight: bold;

  margin-bottom: 30px;
}

.login_container {
  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: white;

  border-radius: 16px;
  border-color: #707070;
  box-shadow: 13px 13px 6px 0 rgba(0, 0, 0, 0.04);

  width: 500px;
  height: 333px;

  box-sizing: border-box;
}

.login_form {
  display: flex;
  box-sizing: border-box;
}

/** 아이디, 비밀번호 입력 & submit*/

.login_submit_container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.login_input_container {
  display: flex;
  flex-direction: column;
  flex: 0.72;
  text-align: right;

  margin: 50px 0px 20px;
}

.input_label {
  font-size: 20px;
  font-weight: bold;
}

.input_id {
  margin-bottom: 25px;
}

.login_input_box {
  border-radius: 13px;
  border-width: 1px;
  border-color: #707070;
  border-width: 1px;
  background-color: #f7f7fa;

  width: 230px;
  height: 40px;
  align-items: flex-end;

  font-size: 20px;

  margin-left: 10px;
}

.login_submit_btn_container {
  display: flex;
  flex: 0.28;
  justify-content: space-around;
}

.login_submit_btn {
  height: 113px;
  width: 85px;
  margin-top: 50px;

  border: none;
  border-radius: 10px;
  border-color: #bad80a;
  background-color: #bad80a;

  font-size: 20px;
  font-weight: bold;
}

/** valid-check css*/
.login_valid_alert_box {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.login_valid_alert_message {
  font-size: 15px;
  font-weight: bold;
  color: red;
}

/** 찾기 화면 버튼*/
.finduserinfo_btn_container {
  display: flex;
  flex: 0.3;
  align-items: center;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border: none;
  border-top: 1px solid #ddd;
  clear: both;
}

.horizontal_content_leftLine {
  flex-grow: 1;
  margin: 0;
}

.horizontal_content {
  display: block;
  padding: 0 20px;
  box-sizing: inherit;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: initial;
  color: #1d1c1d;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
}

.horizontal_content_rightLine {
  flex-grow: 1;
  margin: 0;
}

.finduserinfo_btn {
  border: 0;
  outline: 0;
  background-color: white;
  text-align: center;

  height: 50px;

  font-size: 17px;
  color: #707070;
}

/** 회원가입 레이아웃*/
.register_btn_container {
  display: flex;
  flex-direction: row;
  flex: 1;

  align-items: center;
  justify-content: space-around;

  box-sizing: border-box;
  padding: 0px 50px 20px 50px;
}

.register_label {
  font-size: 17px;
  color: #707070;
}

.register_btn {
  border: 0;
  outline: 0;
  background-color: white;
  text-align: center;

  height: 50px;

  font-size: 17px;
  font-weight: bold;
  color: #707070;
}
