.login_container {
  display: flex;
  flex-direction: column;
  background-color: rgb(73, 73, 152);
  border-radius: 16px;
  border-width: 2px;
  border-color: #707070;
  box-shadow: 13px 13px 6px 0 rgba(0, 0, 0, 0.04);
  width: 500px;
  height: 333px;
}